.ag_sec1{
	/*background-image: url(/web_menu_hide/static/src/img/bg.css);*/
	background: #76b852;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 500px;

}
.text-white {
  color: #fff;

}


.banner-content .top {
  font-size: 12px;
}

.banner-content h1 {
  margin-top: 150px;
  margin-bottom: 28px;
}
.ag_a_tag{
	margin-top: 10px;
	 color: white;
	 font-weight: bolder;
    background: none;
    border: 3px solid black;
    padding: 10px 41px;
    border-radius: 22px;
}
.ag_a_tag:hover{
	 color: black;
    background: none;
    border: 3px solid white;
    padding: 10px 41px;
    border-radius: 22px;
}
.ag_contact{
	font-weight: bolder;
}
.ag_heading{
	font-weight: bolder;
}
.single-feature .icon {
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  position: relative;
}

.single-feature .icon span {
  position: relative;
  z-index: 2;
  font-size: 24px;
}

.single-feature .icon:after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.single-feature .desc {
  width: 72%;
}

@media (max-width: 991px) {
  .single-feature .desc {
    width: 100%;
  }
}

.single-feature .desc h6 {
  margin: 20px 0;
}

.single-feature:hover .icon {
  border: 1px solid transparent;
}

.single-feature:hover .icon:after {
  opacity: 1;
}

.single-feature:hover .icon span {
  background: -webkit-linear-gradient(-180deg, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}
.input-group-icon .icon i {
  color: #797979;
}

.p1-gradient-bg, .primary-btn:after, .banner-area, .single-feature .icon:after, .service-area, .story-area, .single-widget .icon:after {
  background-image: -moz-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  background-image: -ms-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}
.p1-gradient-color, .single-feature .icon span {
  background: -webkit-linear-gradient(0deg, #e66587, #f09458);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.single-feature .icon {
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  position: relative;
}

.single-feature .icon span {
  position: relative;
  z-index: 2;
  font-size: 24px;
}

.single-feature .icon:after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.single-feature .desc {
  width: 72%;
}

@media (max-width: 991px) {
  .single-feature .desc {
    width: 100%;
  }
}

.single-feature .desc h6 {
  margin: 20px 0;
}

.single-feature:hover .icon {
  border: 1px solid transparent;
}

.single-feature:hover .icon:after {
  opacity: 1;
}

.single-feature:hover .icon span {
  background: -webkit-linear-gradient(-180deg, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-area {
  padding: 100px 0;
}

.single-service {
  margin-top: 40px;
}

.single-service .thumb {
  height: 10rem;
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}

.single-service .thumb .overlay-content {
  background: rgba(255, 255, 255, 0.89);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-service .desc {
  margin-top: 30px;
}

.single-service .desc h6 {
  margin-bottom: 10px;
}

.single-service .desc p {
  margin: 0;
}

.single-service:hover .overlay-content {
  opacity: 1;
  visibility: visible;
}

